*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}
.padding-global{
  padding: 0 50px;
}
input:focus,select:focus, textarea:focus{
  outline: none;
}